.productsscard {
    margin: 0 auto;
    max-width: 282px;

    &__linka {
        text-decoration: none;
        color: #000;

        :hover {
            color: #000;
        }
    }


    &__maincard {


        p {
            font-size: 22px;

        }
    }

    &__element {
        display: flex;
        align-items: center;

    }

    &__variant {
        .v-1 {
            background-color: #316BFF;
        }

        .v-2 {
            background-color: #FF4444;
        }

        .v-3 {
            background-color: #41EB70;
        }

        .v-4 {
            background-color: #10E2FF;
        }
    }

    &__variant-box {
        width: 40px;
        height: 40px;

    }

    &__usertext {
        margin-left: 5px;
        font-size: 12px;
        font-weight: 500;
    }

    &__imgbox {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: 100%;
        }
    }

    &__rating {
        p {
            font-size: 12px;
            margin-left: 5px;
            font-weight: 500;
        }
    }

    &__stock {

        p {
            font-size: 12px;
            font-weight: 500;
        }

        .progress {
            height: 5px;
        }
    }
}

.starr {
    position: relative;

    display: inline-block;
    width: 0;
    height: 0;

    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;

    border-right: .3em solid transparent;
    border-bottom: .7em solid #FC0;
    border-left: .3em solid transparent;

    /* Controlls the size of the stars. */
    font-size: 10px;

    &:before,
    &:after {
        content: '';

        display: block;
        width: 0;
        height: 0;

        position: absolute;
        top: .6em;
        left: -1em;

        border-right: 1em solid transparent;
        border-bottom: .7em solid #FC0;
        border-left: 1em solid transparent;

        transform: rotate(-35deg);
    }

    &:after {
        transform: rotate(35deg);
    }
}