$navblue : #488FB1;
$footerblue: #533E85;
$footer-darker-blue: #493675;

$buttonred: #D03E3E;
$buttonblue: #828FFE;

$tabletbreakpointxs : 576px;
$tabletbreakpointmd : 768px;
$tabletbreakpointlg : 992px;
$tabletbreakpointxl : 1200px;