@use '../abstract/variables' as v;

.profilee{
    margin: 40px 0;
    position: relative;

    &__changepasstitle{
        font-size: 18px;
        // text-decoration: underline;
        font-weight: 600;
    }

    &__content_title{
        padding: 20px;
    }

    &-label{
      font-size: 15px;
      font-weight: 500;
    }

    &__nav{
        display: none;
    }

    &__navcard{
        height: 600px;
        background-color: #fff;
        width: 100%;
        
    }
    
    &__contentcard{
        // height: 1800px;
        width: 100%;
    }

    &__link{
        margin: 40px 0;
        cursor: pointer;
        text-decoration: underline;
    }

    &__storelink{
        color: #02C0FC;
        text-decoration: underline;
    }


    .inputs{
        display: flex;
        justify-content: center;
    }

    .input{
        width: 90%;
        margin-left: 20px  !important;
    }

    select{
        width: 100%;
        height: 100%;
        font-size: 18px;
        outline: none;
        border: none;
    }
    

    &__inputbox{
        width: 90%;
        border: 1px solid rgba($color: #000000, $alpha: .25);
        border-radius: 8px;
        display: flex;
        align-items: center;
        height: 40px;
        max-width: 430px;

        input{
            outline: none;
            border: none;
            font-size: 14px;
            height: 30px;
            width: 90%;
        }

        & i::before{
            font-size: 24px;
            margin-right: 8px;
            color: rgba($color: #000000, $alpha: .2);
        }
    }

}

.hr{
    height: 1px;
    background-color: rgba($color: #000, $alpha: .5);
    width: 90%;
    margin: 20px 0;
}

@media(min-width: 300px){
    .profilee{
        &__inputbox{
            height: 50px;
        }


        input{
            font-size: 17px;
        }
    }
}

@media(min-width: v.$tabletbreakpointmd){

    
    .profilee{


        .inputs{
            display: flex;
            justify-content: center;
        }

        .input{
            width: 90%;
            margin-left: 20px  !important;
        }
        

        &__inputbox{
            width: 100%;
            border: 1px solid rgba($color: #000000, $alpha: .25);
            border-radius: 8px;
            display: flex;
            align-items: center;
            height: 50px;

            input{
                outline: none;
                border: none;
                font-size: 22px;
                height: 40px;
                width: 100%;
            }

            & i::before{
                font-size: 28px;
                margin-right: 8px;
                color: rgba($color: #000000, $alpha: .2);
            }
        }
    }
}


@media(min-width: v.$tabletbreakpointlg){

    .profilee{

        &__nav{
            display: block;

           
        }

        &__navcard{
            position: sticky;
            top: 0;
        }
    }


}
