p {
  margin: 0;
}

.bignav a,
.dropdownn a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3 !important;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

.content {
  position: relative;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.test {
  margin-bottom: 700px;
}

.navbar {
  position: sticky !important;
  z-index: 1000;
  top: 0px;
  background-color: #488FB1;
  height: 80px;
  width: 100%;
}
.navbar__logo {
  height: 20px;
}
.navbar__logo img {
  height: 100%;
}
.navbar__burgerdiv {
  display: flex;
}
.navbar__burger {
  height: 20px;
  justify-content: end;
}
.navbar__burger img {
  height: 100%;
}
.navbar__listitem {
  display: none;
}

.dropdownn {
  position: fixed;
  z-index: 999;
  background-color: #488FB1;
  height: 70vh;
  top: -1000px;
  transition: top 300ms;
  width: 100%;
}
.dropdownn__items h3 {
  color: #FFF;
}
.dropdownn__items:active {
  background-color: #2b5468;
}
.dropdownn--active {
  top: 80px;
}

.overlaynav {
  position: fixed;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  opacity: 0;
  transition-duration: 300ms;
  transition-property: display opacity;
}
.overlaynav--active {
  display: block;
  opacity: 1;
}

.bignav {
  display: none;
}

#content {
  min-height: calc(100vh - 300px);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #533E85;
  position: relative;
  height: 220px;
}
.footer__imgbox {
  width: 130px;
}
.footer__imgbox img {
  width: 100%;
}
.footer__sosms {
  display: grid;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  grid-template-columns: repeat(3, 1fr);
  margin: 60px 0;
  font-size: 35px;
}
.footer__sosm {
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__sosm::before {
  z-index: 399;
}
.footer__sosm::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: none;
  border: 3px solid #fff;
  border-radius: 50%;
  transition: 200ms all;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.footer__sosm:nth-child(1):hover::after {
  background-color: #3b5998;
}
.footer__sosm:nth-child(2):hover::after {
  background-color: #e95950;
}
.footer__sosm:nth-child(3):hover::after {
  background-color: #00acee;
}
.footer__sosm:nth-child(1):active::after {
  background-color: #3b5998;
}
.footer__sosm:nth-child(2):active::after {
  background-color: #e95950;
}
.footer__sosm:nth-child(3):active::after {
  background-color: #00acee;
}
.footer__footer {
  width: 100%;
  text-align: center;
  background-color: #493675;
}

@media (max-width: 380px) {
  .footer .footer__sosms {
    width: 250px;
  }
}
@media (min-width: 768px) {
  .overlaynav {
    display: none;
  }

  .navbar__burgerdiv {
    display: none !important;
  }

  #dropdownid {
    display: none;
  }

  .navbar {
    display: none !important;
  }

  .bignav {
    display: block;
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #488FB1;
    z-index: 1000;
  }
  .bignav__link {
    margin-left: 30px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: color 200ms;
    text-decoration: none;
  }
  .bignav__link:hover {
    color: #cccccc;
  }
  .bignav__logo {
    width: 80px;
    height: 100%;
  }
  .bignav__logo img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bignav__logo {
    width: 120px;
  }
  .bignav__link {
    font-size: 23px;
    margin-left: 55px;
  }
}

/*# sourceMappingURL=style.css.map */
