


.card-title {
    padding-top: 40px;
    font-size: 25px;
    font-weight: 650;
}
.card-paragraph {
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
}
.card-link {
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 50px;
}
@media (min-width: 1200px) { 
    .content {
    height: 71vh;
    padding-top: 75px;
}

}

@media (max-width: 575px) { 
    .content {
        height: 100vh;
        padding-top: 0%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
   .content {
       height: 69vh;
   }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
     .content{
         height: 65vh;
}
}
